<div class="education">
    <div class="container">
        <div class="header">
            <h3 class="wow">For Businesses</h3>
            <hr class="wow">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="right-s">
                        <div class="gv"></div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="left-s text-center">
                        <img src="./assets/img/unsplash_g1Kr4Ozfoac.png" alt="eduction" class="wow">
                        <a href="#" class="wow">
                            <div class='line'></div>
                            <div class='line'></div>
                            <div class='line'></div>
                            <div class='line'></div>
                            <div class='line'></div>
                            <div class='line'></div>
                            <span>GV Business</span>

                            <svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1.41406" width="15" height="2" transform="rotate(45 1.41406 0)" fill="white"/>
                                <rect y="19.7988" width="15" height="2" transform="rotate(-45 0 19.7988)" fill="white"/>
                            </svg>
                        </a>
                        <div class="desc wow">
                            <p>
                                <strong>The perk your employees want</strong> . With GV Learning for Teams, you're giving employees the power of choice. Everything you need to deliver high-impact training that accelerates business growth to creativity outlets for the team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="h-line">

