<div class="background">
    <div class="shapeone"></div>
    <div class="shaptwo"></div>
    <div class="container">
        <div class="activity text-center">
            <div class="header">
                <h3>Let’s choose the best activity for you!</h3>
            </div>
            <div class="row first">
                <div class="col-md-6">
                    <div class="content rig">
                        <div class="sun"></div><h4> Step <span>01</span></h4>
                        <hr>
                        <p>Look through the list below and see which activity fits your interests.</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="content lef">
                        <div class="sun"></div><h4> Step <span>02</span></h4>
                        <hr>
                        <p>Make a list of <strong>the top five</strong> activities that interest you (in the order of your preference).</p>
                    </div>
                </div>

            </div>
            <div class="row second text-center">
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298.png" alt="activity photo">
                        <h4>Art</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298-2.png" alt="activity photo">
                        <h4>Culture & language</h4>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298-3.png" alt="activity photo">
                        <h4>Enhancing Student Learning</h4>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298-4.png" alt="activity photo">
                        <h4>Music</h4>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298-5.png" alt="activity photo">
                        <h4>Sports</h4>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <img src="./assets/img/Rectangle 298-6.png" alt="activity photo">
                        <h4>Technology Club</h4>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</div> 