<div class="slid-con">
    <div class="shap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="discp">
                    <h3>Pre-Registration</h3>
                    <p>Spend your free time in activities that will allow you to make a meaningful impact in your development. Any activity you choose could be one of the most important ways you shape your future.</p>
                    <p>Our activities are based on a certain academic subject with competitions that take place at all levels, from local to national and international.</p>
                    <p>With so many options out there, you will be able to find an activity that you are interested in and you can develop a passion for!</p>
                </div>

            </div>
            <div class="col-md-6 padd-zero">
                <div class="img-cont">

                </div>

            </div>
        </div>
    </div>

</div>




