@import "../../../../styles.scss";

.footer{
    background: linear-gradient(94.17deg, #003827 -40.66%, #00F781 215.35%);
    box-shadow: 0px 108px 101px -47px rgba(0, 0, 0, 0.1);
    padding: 60px 0 1px 0;
    .con{
        padding: 0 100px;
        @media (min-width: $width1) and (max-width: $width2) {
            padding: 0 18px 22px 18px;
        }
        .content{
            @media (min-width: $width1) and (max-width: $width2) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
                padding: 42px 0 18px 0;
            }
            .disc-one{
                margin-top: 29px;
                h3{
                    margin-bottom: 2px;
                }
            }
            .contact{
                margin-top: 33px;
                h3{
                    margin-bottom: 2px;
                }
            }
            h3{
                font-weight: bold;
                font-size: 18px;
                line-height: 180.5%;
                margin-bottom: 40px;
                @media (min-width: $width1) and (max-width: $width2) {
                   margin-bottom: 18px;
                }
            }
            p{
                font-weight: lighter;
                font-size: 15px;
                line-height: 21px;
                opacity: 0.8;
            }
            ul{
                li{
                    margin-bottom: 13px;
                    a{
                        font-weight: lighter;
                        font-size: 15px;
                        opacity: 0.8;
                        text-decoration: none;
                    }
                }
            }
            form{
                position: relative;
                margin-top: 22px;
                input{
                    background: rgba(255, 255, 255, 0.2);
                    border: none;
                    padding: 16px 32px;
                    border-radius: 9px;
                    width: 100%;
                    @media (min-width: $width1) and (max-width: $width2) {
                        padding: 13px 32px;
                    }
                }
                button{
                    background: #00F781;
                    border-radius: 9px;
                    color: #FFF;
                    border: navajowhite;
                    padding: 16px 20px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: all 2s;
                    @media (min-width: $width1) and (max-width: $width2) {
                        padding: 13px 20px;
                    }
                    &:hover,&:focus{
                      background: #003827;
                    }

                }
            }
            .social{
                margin-top: 40px;
                @media (min-width: $width1) and (max-width: $width2) {
                    margin-top: 22px;
                }
                svg{
                    margin-right: 15px;
                    margin-right: 22px;
                    @media (min-width: $width1) and (max-width: $width2) {
                        margin-right: 15px;
                        width: 15px;
                    }
                }
                .facebook{
                  &:hover svg path{
                    fill: #003827;
                  }
                }
                .insta{
                  &:hover svg path{
                    fill: #003827;
                  }
                }
                .twitter{
                  &:hover svg path{
                    fill: #003827;
                  }
                }
                .youtube{
                  &:hover svg path{
                    fill: #003827;
                  }
                }

            }
        }
        .content.last{
            @media (min-width: $width1) and (max-width: $width2) {
               border: none;
            }
        }
        hr{
            height: 1px;
            background: #FFFFFF;
            animation:  flash;
            animation-duration: 2s;
            @media (min-width: $width1) and (max-width: $width2) {
                display: none;
            }
        }
    }
    .copyright{
        p{
            opacity: 0.8;
            font-size: 16px;
            line-height: 66px;
            @media (min-width: $width1) and (max-width: $width2) {
                background: linear-gradient(270deg, #131313 -40.25%, #686868 164.47%);
                margin: 0;
                font-size: 12px;
            }
        }
    }
}
