<div class="education">
    <div class="header">
        <h3 class="wow">Why Gv Learning ?</h3>
        <hr class="wow">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-7">
                <div class="info wow">
                    <h4>01</h4>
                    <h5>Engage with ease</h5>
                    <p>Thoughtfully designed with admins and learners in mind, GV Learning aims to make learning a simple, engaging experience for all</p>
                </div>

                <div class="info wow">
                    <h4>02</h4>
                    <h5>Scalable training delivery</h5>
                    <p>From automating everyday tasks to ensuring critical training courses run smoothly, GV Learning has what you need to efficiently scale training programs</p>
                </div>

                <div class="info wow">
                    <h4>03</h4>
                    <h5>Reporting & Support</h5>
                    <p>The data you need, right when you need it with out-of-the-box reports to calculate training ROI. And 24/7 support from our friendly and knowledgeable Technical Support Reps grantee to provide the best customer support in the business.</p>
                </div>

                <div class="info wow">
                    <h4>04</h4>
                    <h5>Quick to set-up</h5>
                    <p>With our easy-to-use platform and skilled support, you may launch your profile anywhere from one week to one year, leaving the "Go-live" date up to you.</p>
                </div>

            </div>
            <div class="col-md-5">
                <div class="img-cont wow">
                    <img src="./assets/img/vertical-shot-contemplative-thoughtful-dark-skinned-man-keeps-hand-chin-looks-thoughtfully-upwards 1.png" alt="learning photo">
                </div>

            </div>
        </div>

    </div>

</div>
