<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg width="30" height="2" viewBox="0 0 21 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H21V2H0V0Z" fill="white"/>
      </svg>
      <svg width="30" height="2" viewBox="0 0 21 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H21V2H0V0Z" fill="white"/>
      </svg>
      <svg width="30" height="2" viewBox="0 0 21 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H21V2H0V0Z" fill="white"/>
      </svg>
    </button>
    <a class="navbar-brand wow "  href="#" >
      <img src="./assets/img/gv learning 1.png" alt="logo">
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#">Offerings</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#">Client Portal</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#" >GV Portal</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0 login wow" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0 signup wow" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>
