<div class="contact">
    <img src="./assets/img/guitar 1.png" alt="background">
    <div class="shapethree"></div>
    <div class="shapefour"></div>
    <div class="contact-form">
        <form>
            <div class="form-group">
                <label for="exampleInputName" class="form-label">Name<span>*</span></label>
                <input type="text" id="exampleInputName" class="form-control" placeholder="Full Name" aria-label="Username" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required> 
               
            </div>
            <div class="form-group">
                <label for="exampleInputSchool" class="form-label">School<span>*</span></label>
                <select class="form-select" id="exampleInputSchool" aria-label="Default select example" required>
                    <option  selected>Select your school</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputGrade" class="form-label">Grade<span>*</span></label>
                <input type="text" id="exampleInputGrade" class="form-control" placeholder="Grade - Section ( ex : 7-A )" aria-label="Grade - Section ( ex : 7-A ) " aria-describedby="basic-addon1" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Email<span>*</span></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-label="Email" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
                <label for="exampleInputNumber" class="form-label">Contact Number<span>*</span></label>
                <input type="text" id="exampleInputNumber" class="form-control" placeholder="Contact Number" aria-label="Username" aria-describedby="basic-addon1" pattern="[0-9]+" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
 
</div>
